[Desktop Entry]
Encoding=UTF-8
Name=Link to Clic-formation - Exercice 3 - Graphique Excel
Type=Link
URL=https://www.clic-formation.net/graphiques1/exercice-3-graphique.html#ou-modifier-la-valeurs-des-unites-de-l-axe
Icon=text-html
